.todo-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.descrition-wrapper p{
    font-family: Monteserrat;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000;
}