body {
  background-color: #0c101e;
  display: flex;
  justify-content: center;
}

.App{
  background-color: #323a58;
  width: 100%;
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.title{
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color:#8f9eba;
  margin-bottom: 70px;
  text-align: center;
}

.titleBlock{
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color:#8f9eba;
}